<div>
    <h3>Recenze:</h3>
    <div>
        {{#each Review}}
            <div>
                <h4>Hodnocení: {{rating}}</h4>
                <h5>{{user}}</h5>
                <p>{{description}}</p>
            </div>
        {{/each}}
    </div>
</div>